<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2014 PayPal. All rights reserved. -->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.paypal.cordova.mobilesdk"
    version="3.1.4">
    <name>PayPalMobile</name>
    <description>This plugin allows to add to add PayPal Payments to your application using PayPal Mobile SDK Native library</description>
    <keywords>paypal, sdk, payments</keywords>
    <license>BSD License, see LICENSE.md for details</license>
    <engines>
            <engine name="cordova" version="&gt;=3.0.0" />
    </engines>


    <js-module src="www/cdv-plugin-paypal-mobile-sdk.js" name="PayPalMobile">
        <clobbers target="PayPalMobile" />
    </js-module>

    <asset src="www/paypal-mobile-js-helper.js" target="js/paypal-mobile-js-helper.js" />

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PayPalMobile">
                <param name="ios-package" value="PayPalMobileCordovaPlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/PayPalMobileCordovaPlugin.h" />
        <source-file src="src/ios/PayPalMobileCordovaPlugin.m" />

        <header-file src="src/ios/PayPalMobile/PayPalConfiguration.h" />
        <header-file src="src/ios/PayPalMobile/PayPalFuturePaymentViewController.h" />
        <header-file src="src/ios/PayPalMobile/PayPalMobile.h" />
        <header-file src="src/ios/PayPalMobile/PayPalOAuthScopes.h" />
        <header-file src="src/ios/PayPalMobile/PayPalPayment.h" />
        <header-file src="src/ios/PayPalMobile/PayPalPaymentViewController.h" />
        <header-file src="src/ios/PayPalMobile/PayPalProfileSharingViewController.h" />

        <source-file src="src/ios/PayPalMobile/libPayPalMobile.a" framework="true" />

        
        <framework src="AudioToolbox.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreLocation.framework" weak="true" />
        <framework src="CoreMedia.framework" weak="true" />
        <framework src="CoreVideo.framework"/>
        <framework src="MessageUI.framework" />
        <framework src="OpenGLES.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="Security.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="QuartzCore.framework"/>
        <framework src="UIKit.framework"/>
        

        <framework src="libc++.dylib" />
        <framework src="libPayPalMobile.a" />

    </platform>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PayPalMobile">
                <param name="android-package" value="com.paypal.cordova.sdk.PayPalMobileCordovaPlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/PayPalMobileCordovaPlugin.java" target-dir="src/com/paypal/cordova/sdk" />
        <source-file src="src/android/libs/PayPalAndroidSDK-2.8.8.jar" target-dir="libs" />
        <source-file src="src/android/libs/armeabi" target-dir="libs" />
        <source-file src="src/android/libs/armeabi-v7a" target-dir="libs" />
        <source-file src="src/android/libs/mips" target-dir="libs" />
        <source-file src="src/android/libs/mips64" target-dir="libs" />
        <source-file src="src/android/libs/x86" target-dir="libs" />
        <source-file src="src/android/libs/x86_64" target-dir="libs" />
        <source-file src="src/android/libs/arm64-v8a" target-dir="libs" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <!-- for card.io card scanning -->
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.VIBRATE" />

            <uses-feature android:name="android.hardware.camera" android:required="false" />
            <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

            <!-- for most things, including card.io & paypal -->
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />
            <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
            <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
            <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
            <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
            <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
            <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
            <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
            <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity" />
            <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity" />
            <activity
                android:name="io.card.payment.CardIOActivity"
                android:configChanges="keyboardHidden|orientation" />
            <activity android:name="io.card.payment.DataEntryActivity" />
        </config-file>

    </platform>

</plugin>
